  <div id="gollum-editor-function-bar">
    <div id="gollum-editor-function-buttons">
    <a href="#" id="function-bold" class="function-button">
      <span>Bold</span></a>
    <a href="#" id="function-italic" class="function-button">
      <span>Italic</span></a>
    <a href="#" id="function-code" class="function-button">
      <span>Code</span></a>
    <span class="function-divider">&nbsp;</span>
    <a href="#" id="function-ul" class="function-button">
      <span>Unordered List</span></a>
    <a href="#" id="function-ol" class="function-button">
      <span>Ordered List</span></a>
    <a href="#" id="function-blockquote" class="function-button">
      <span>Blockquote</span></a>

    <a href="#" id="function-hr" class="function-button">
      <span>Horizontal Rule</span></a>
    <span class="function-divider">&nbsp;</span>
    <a href="#" id="function-h1" class="function-button">
      <span>h1</span></a>
    <a href="#" id="function-h2" class="function-button">
      <span>h2</span></a>
    <a href="#" id="function-h3" class="function-button">
      <span>h3</span></a>
    <span class="function-divider">&nbsp;</span>
    <a href="#" id="function-link" class="function-button">
      <span>Link</span></a>
    <a href="#" id="function-image" class="function-button">
      <span>Image</span></a>
    <span class="function-divider">&nbsp;</span>
    <a href="#" id="function-help" class="function-button">
      <span>Help</span></a>
    </div>

    <div id="gollum-editor-format-selector">
      <label for="format">Edit Mode</label>
      <select id="wiki_format" name="format">
      {{#formats}}
        <option {{#selected}}selected="selected" {{/selected}}value="{{id}}">
        {{name}}
        </option>
      {{/formats}}
     </select>
    </div>
  </div>
  <div id="gollum-editor-help" class="jaws">
    <ul id="gollum-editor-help-parent">
      <li><a href="javascript:void(0);" class="selected">Help 1</a></li>
      <li><a href="javascript:void(0);">Help 1</a></li>
      <li><a href="javascript:void(0);">Help 1</a></li>
    </ul>
    <ul id="gollum-editor-help-list">
      <li><a href="javascript:void(0);">Help 2</a></li>
      <li><a href="javascript:void(0);">Help 3</a></li>
      <li><a href="javascript:void(0);">Help 4</a></li>
      <li><a href="javascript:void(0);">Help 5</a></li>
      <li><a href="javascript:void(0);">Help 6</a></li>
      <li><a href="javascript:void(0);">Help 7</a></li>
      <li><a href="javascript:void(0);">Help 8</a></li>
    </ul>
    <div id="gollum-editor-help-wrapper">
      <div id="gollum-editor-help-content">
      <p>
      </p>
      </div>
    </div>
  </div>
    <div id="gollum-editor-body" data-markup-lang="{{format}}" name="content">{{content}}</div>
    <div>
      <i class="fa fa-spinner fa-spin"></i>
      Uploading file ...
    </div>

  <span class="jaws"><br></span>
  <a id="gollum-editor-preview" class="minibutton" title="Preview this Page">Live Preview</a>

{{#require_assets}}
{{#editor_css}}<link rel="stylesheet" type="text/css" href="{{base_url}}/{{css_path}}/{{editor_css}}" media="all">{{/editor_css}}
{{#highlight_css}}<link rel="stylesheet" type="text/css" href="{{base_url}}/{{css_path}}/{{highlight_css}}" media="all">{{/highlight_css}}
{{#dialog_css}}<link rel="stylesheet" type="text/css" href="{{base_url}}/{{css_path}}/{{dialog_css}}" media="all">{{/dialog_css}}
<link rel="stylesheet" type="text/css" href="{{base_url}}/{{css_path}}/jquery.sidr.light.css" media="all">

<script type="text/javascript" src="{{base_url}}/{{js_path}}/editor/ace/ace.js"></script>
{{#init_script}}<script type="text/javascript" src="{{base_url}}/{{js_path}}/{{init_script}}"></script>{{/init_script}}
<script type="text/javascript" src="{{base_url}}/{{js_path}}/editor/gollum.format_selector.js"></script>
<script type="text/javascript" src="{{base_url}}/{{js_path}}/editor/gollum.editor.js"></script>
<script type="text/javascript" src="{{base_url}}/{{js_path}}/editor/gollum.preview.js"></script>
<script type="text/javascript" src="{{base_url}}/{{js_path}}/jquery.sidr.js"></script>
{{/require_assets}}