<%= stylesheet_link_tag "gollum_editor/gollum" %>
<%= javascript_include_tag "gollum_editor/gollum" %>
<%= form_for :testpage do |f| %>
<%= f.gollum_editor :body, :formats => [{:name => 'Markdown', :id => 'markdown', :selected => true}] %>
<% end %>
<div id="gollum-live-preview" style="display:none">
  <div class="markdown-body gollum-preview-target">
    <h1>Live Preview</h1>
  </div>
</div>
<script type='text/javascript'>

    livePreview = {
      PreviewWrapper: $('#gollum-live-preview'),
      PreviewTargetSelector: '.gollum-preview-target',
      PreviewToggle: $('#gollum-editor-preview'),
      BaseUrl: ''
    };
  initGollumEditor(false, '', '', 'markdown', livePreview);
</script>